/* You can add global styles to this file, and also import other style files */
#scanner-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    // background: black;
  }
  
  #scanner-container video,
  #scanner-container canvas {
    position: absolute;
    // top: 87px;
    left: 50%;
    transform: translateX(-50%);
    height: 85vh;
    width: auto;
    object-fit: cover;
  }
  